{% extends "layout.html" %}

{% block content %}


<form id="editform" class="form-horizontal">
    <fieldset>
        <legend>{{ legend }}</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Användarnamn</label>
            <div class="col-md-4">
                <input id="username" name="username" type="text" class="form-control" value="{{ user.username }}" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Lösenord</label>
            <div class="col-md-4">
                <input id="password" name="password" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="firstname">Förnamn</label>
            <div class="col-md-4">
                <input id="firstname" name="firstname" type="text" class="form-control" value="{{ user.firstname }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Efternamn</label>
            <div class="col-md-4">
                <input id="lastname" name="lastname" type="text" class="form-control" value="{{ user.lastname }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">E-post</label>
            <div class="col-md-4">
                <input id="email" name="email" type="email" class="form-control" value="{{ user.email }}" />
            </div>
        </div>
    </fieldset>
</form>
        <div class="form-group">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-8">
                <button form="editform" id="submit" name="submit" type="submit" class="btn btn-success" formmethod="POST" formaction="{{ url_for('edituser', id=user.id) }}">Spara</button>
                <button form="editform" id="cancel" name="cancel" type="submit" class="btn btn-warning" formmethod="GET" formaction="{{ url_for('users') }}">Avbryt</button>
                {% if request.args['id'] %}
                        <button form="editform" id="delete" name="submit" type="submit" class="btn btn-danger" formmethod="POST" formaction="{{ url_for('edituser', id=user.id, action='delete') }}">Radera</button>
                {% endif %}
            </div>
        </div>
{% endblock %}