{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Pelotek - STAR</h1>
    <p class="lead">System för Tid- och ArbetsRapportering</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rapportera tid</h2>
        <p>
            Här kan du rapportera din arbetstid, vad du har gjort och vilka redskap och maskiner du har använt.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('registertime') }}">Rapportera tid &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hantera användare</h2>
        <p>Här lägger du till och ändrar bland användarna av systemet.</p>
        <p><a class="btn btn-default" href="{{ url_for('users') }}">Användare &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maskiner och materiel</h2>
        <p>
            Företagets och medarbetarnas maskiner och materiel hanterar du här.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('machines') }}">Maskiner &raquo;</a></p>
    </div>
</div>

{% endblock %}
