{% extends "layout.html" %}

{% block content %}

{% if users %}
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Användare</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>E-post</th>
    </tr>
    </thead>
    <tbody>
{% for user in users %}
    <tr>
        <td><a href="{{ url_for('edituser', id=user.id) }}" title="Redigera">{{ user.username }}</a></td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
    </tr>
    </tbody>
{% endfor %}

</table>
{% else %}
<p>Inga användare registrerade</p>
{% endif %}
<div class="row">
<div class="col-md-4">
    <form method="GET" action="{{ url_for('edituser') }}">
        <button class="btn btn-default" type="submit">Lägg till</button>
    </form>
</div>
</div>
{% endblock %}